---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="flex items-center px-4 sm:px-6 lg:px-8 pt-16">
    <div class="container flex flex-col items-center text-center">
      <h1 class="heading-primary">404</h1>
      <h2 class="heading-secondary">Page Not Found</h2>
      <p class="content-description">
        Oops! The page you are looking for does not exist. It might have been
        moved or deleted.
      </p>
      <a href="/" class="btn-primary mt-10">Go back home</a>
    </div>
  </main>
</Layout>

<style>
  @reference "@/styles/global.css";

  .heading-primary {
    @apply text-text text-7xl leading-tight font-bold sm:text-9xl;
  }
  .heading-secondary {
    @apply text-text/80 text-2xl leading-snug font-semibold sm:text-3xl;
  }
  .content-description {
    @apply text-text/80 mt-10 text-lg leading-relaxed sm:text-xl;
  }
  .btn-primary {
    @apply rounded-lg bg-(--color-primary) px-6 py-3 font-bold text-white shadow-md hover:bg-(--color-primary)/90;
  }
</style>
