---
const { class: className, activePath } = Astro.props;

const links = [{ href: "/", label: "Home" }];
---

<ul class={`${className} md:gap-6 gap-8 text-center`}>
  {
    links.map((link) => (
      <li>
        <a
          href={link.href}
          class={`nav-link ${activePath === link.href ? "nav-link-active" : "nav-link-inactive"}`}
        >
          {link.label}
        </a>
      </li>
    ))
  }
</ul>

<style>
  @reference "@/styles/global.css";

  .nav-link {
    @apply text-text transition-colors duration-200 hover:font-bold;
  }
  .nav-link-active {
    @apply font-bold underline decoration-(--color-primary) decoration-2 underline-offset-8;
  }
  .nav-link-inactive {
    @apply font-medium;
  }
</style>
