---
import MailIcon from "@/components/shared/icons/social/MailIcon.astro";
import GithubIcon from "@/components/shared/icons/social/GithubIcon.astro";
import LinkedinIcon from "@/components/shared/icons/social/LinkedinIcon.astro";

const { class: className } = Astro.props;
---

<ul class={`${className} flex gap-4`}>
  <li>
    <a href="mailto:hello@josetorronteras.com" aria-label="Email">
      <MailIcon />
    </a>
  </li>
  <li>
    <a href="https://github.com/josetorronteras" aria-label="Github">
      <GithubIcon />
    </a>
  </li>
  <li>
    <a href="https://linkedin.com/in/josetorronteras" aria-label="LinkedIn">
      <LinkedinIcon />
    </a>
  </li>
</ul>
